{% extends 'base.jinja2' %}

{% block subtitle %}Tell it like it is Obama!{% endblock subtitle %}

{% block content %}
  <p><span id="total"><a href="{{href}}">Get it straight from Obama</a></span></p>
{% endblock content %}
